# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

##Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

##Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool          | Description                      |
|---------------|----------------------------------|
| Jupyter       | Interactive computing environment|
| RStudio       | IDE for R                        |
| Apache Spark  | Big data processing framework    |
| Tableau       | Data visualization tool          |

## Below are a few examples of evaluating arithmetic expressions in Python
Below are some examples of arithmetic expressions in Python.

In [ ]:
# Multiply and add numbers
result = (3 * 4) + 5
result

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 120
hours = minutes / 60
hours

## Objectives
- Understand basic markdown syntax.
- List popular languages for Data Science.
- Perform basic arithmetic operations in code cells.
- Convert units using code cells.

## AuthorHillel Kahan